<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Результат добавления</title>
    <style>
        body{
            background: #6ee667;
            text-align: center;
            margin-top: 8px;
        }
        h1{
            color: whitesmoke;
            background: #3fc13c;
            margin-top: 150px;
            padding: 40px;

        }

        nav{
            background: #32af2a;
            padding: 10px;
        }

        nav a{
            color: white;
            margin: 0 15px;
            text-decoration: none;
            font-weight: bold;
        }

    </style>
</head>
<body>

<nav>
    <a href="/spisok">Список юзеров</a>
    <a href="/search">Поиск юзеров</a>
    <a href="/add_user">Добавить юзера</a>
    <a href="/info">Главная страница</a>
    <a href="/time">Текущее время</a>
</nav>

<h1>Пользователь успешно добавлен</h1>
</body>
</html>